#stackWrapper {
	position:absolute;
	top: 10vh;
	right: 5vw;
	width: 25vw;
	height: 85vh;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: rgba(8,8,8,0.9);
}

#stack {
	width: 25vw;
	min-height: 55vh;
	padding: 30vh 0px 0px 0px;
	display: flex;
	flex-direction: column-reverse;
}

#stack div {
	padding: 5px;
	margin: 0px;
	min-width: 25vw;
	max-width: 25vw;
	min-height: 30px;
	max-height: 30px;
	border: 0px solid black;
	border-width: 1px 0px 0px 0px;
	box-sizing: border-box;
	overflow: hidden;
}

#stack div.memory {
	background-color: seagreen;
}

#stack div.close {
	padding: 0px;
	min-height: 2px;
	max-height: 2px;
}

#globalMemory {
	position:absolute;
	top: 10vh;
	right: 5vw;
	width:25vw;
	display: flex;
	flex-direction: column;
}

#globalMemory div {
	padding: 5px;
	margin: 0px;
	min-width: 25vw;
	max-width: 25vw;
	min-height: 30px;
	max-height: 30px;
	border: 0px solid black;
	border-width: 0px 0px 1px 0px;
	box-sizing: border-box;
	overflow: hidden;
}

#globalMemory div.memory {
	background-color: steelblue;
}

#globalMemory div.close {
	padding: 0px;
	min-height: 2px;
	max-height: 2px;
}
