#head{
  background-color:#202020;
  position:absolute;
  top:0%;
  left:0%;
  width:200%;
  height:15%;
  z-index: 1;
  opacity:1;
  pointer-events:none;
}

#settings{
  background-color:#ddd;
  position:absolute;
  top:5%;
  left:80%;
  width:5%;
  height:5%;
  z-index: 1;
  opacity:1;
  pointer-events:none;
}

#title {
  position:absolute;
  color:white;
  top:3%;
  left:40.5%;
  width:100%;
  height:15%;
  z-index:2;
  font: 45px "HelveticaNeue-UltraLight", sans-serif;
  pointer-events:none;
  pointer-events:none;
}

#drawAreaText {
  position:absolute;
  color:white;
  top:3%;
  left:80.5%;
  width:100%;
  height:15%;
  z-index:2;
  font: 45px "HelveticaNeue-UltraLight", sans-serif;
  pointer-events:none;
  pointer-events:none;
}

#drawAreaText2 {
  position:absolute;
  color:white;
  top:3%;
  left:-18.5%;
  width:100%;
  height:15%;
  z-index:2;
  font: 45px "HelveticaNeue-UltraLight", sans-serif;
  pointer-events:none;
  pointer-events:none;
}

#tutorial{
  position:absolute;
  color:white;
  top:17.5%;
  left:41.9%;
  width:100%;
  height:15%;
  z-index:2;
  font: 21px "HelveticaNeue-UltraLight", sans-serif;
  pointer-events:none;
  pointer-events:none;
}

#execText{
  position:absolute;
  color:white;
  top:92.3%;
  left:48.7%;
  width:100%;
  height:15%;
  z-index:3;
  font: 24px "HelveticaNeue-UltraLight", sans-serif;
  pointer-events:none;
  pointer-events:none;
}

#sideBar{
  background-color:#202020;
  position:absolute;
  top:14.9%;
  left:38%;
  width:25%;
  height:100%;
  z-index: 1;
  opacity:1;
  pointer-events:none;
}

#exec{
  background-color:#ed6d46;
  position:absolute;
  top:92%;
  left:45.3%;
  width:10%;
  height:5%;
  z-index: 2;
  opacity:1;
}

#editor {
	margin: 0;
	position: absolute;
	top: 25%;
	bottom: 30;
	left: 39%;
	right: 0;
	width:23%;
	height:65%;
	z-index:5;
  font-size:13;
  font-family:"futura";
}